/* form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 1px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

.container {
    width: 300px;
    border: 1px solid gray;
    padding: 20px;
    margin: 0 auto;
    border-radius: 6px;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#username, #password {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

#submit-button{
    background-color: green;
    color: white;
    width: 97%;
    padding: 10px;
    border-radius: 6px;
    margin:0 auto;
}

#submit-button:hover{
    background-color: #4caf50;
}